<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        ul {
            list-style-type: none;
            /* margin: 0;
            padding: 0; */
        }

        h2 {
            color: #007BFF;
            margin-bottom: 10px;
        }

        form {
            margin-bottom: 20px;
        }

        li {
            background-color: #fff;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        button {
            padding: 8px 12px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .delete-btn {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
        }

        .delete-btn:hover {
            background-color: #c82333;
        }
    </style>
</head>
<body>
    <h1><%= KindOFDay %></h1>

    <ul>
        <h2>ADD</h2>
        <form action="/" method="post">
            <input type="text" name="newitem">
            <button type="submit">Add</button>
        </form>
       
        <% for (let i = 0; i < NewListitem.length; i++) { %>
            <li>
                <%= NewListitem[i] %>
                <form action="/delete" method="post" style="display: inline;">
                    <input type="hidden" name="index" value="<%= i %>">
                    <button class="delete-btn" type="submit">Delete</button>
                </form>
            </li>
        <% } %>
    </ul>
</body>
</html>
